Market Trend Discovery Agent with Google Search Node.json
{
  "name": "Market Trend Discovery Agent with Google Search Node",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        576
      ],
      "id": "3c30c72f-9f0a-4add-9841-805d35bfcefc",
      "name": "When chat message received",
      "webhookId": "a5b4f5e4-e7e9-4bc4-8935-dab4d09e37e4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a user intent classification specialist.\n\nYour task: Determine if the user's input relates to rugs trends.\n\nClassification Rules:\nOutput {\"trend\": \"yes\"} if the user:\n• Mentions product trends, trending topics, or market trends\n• Shares URLs from e-commerce platforms (Amazon, Walmart) suggesting trending items\n• Asks about what's popular, trending, or gaining traction\nOutput {\"trend\": \"no\"} if the user:\n• Asks general questions unrelated to trends\n• Shares content without trend indicators\n\nResponse Format:\nReturn ONLY valid JSON with no additional text or explanation\nBase classification strictly on the provided input—do not infer beyond what's explicitly stated\nAnalyze both direct mentions and contextual signals (URLs, keywords, phrasing)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        576
      ],
      "id": "c7885bf9-3efe-446a-9126-e35e8aaf4d1d",
      "name": "Find User Intent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        800
      ],
      "id": "91c64324-efbb-441d-ae96-06cdb3edb5c0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TB2Z6h7fHkRtgIPK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        800
      ],
      "id": "7f665a42-1545-47ab-bfe6-4871c19241a8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Input example:\n// [\n//   {\n//     \"output\": \"```json\\n{\\n  \\\"trend\\\": \\\"no\\\",\\n  \\\"answer\\\": \\\"Hello! How can I help you today?\\\"\\n}\\n```\"\n//   },\n//   {\n//     \"output\": \"```json\\n{\\n  \\\"trend\\\": \\\"yes\\\"\\n}\\n```\"\n//   }\n// ]\n\nreturn items.map(item => {\n  let raw = item.json.output;\n\n  // Remove markdown formatting like ```json ... ```\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = { trend: \"no\", answer: \"Parsing error\" };\n  }\n\n  return {\n    json: parsed\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        576
      ],
      "id": "5402fefc-904f-4506-b8f0-1e7a2ae206ff",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a13e23f7-f973-4c5e-9ed8-48b235d78138",
              "leftValue": "={{$json[\"trend\"]}}",
              "rightValue": "=yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        576
      ],
      "id": "2c63d518-d876-4563-8355-8d2013f45879",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Chatbox Trigger",
        "height": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        304
      ],
      "id": "66da0e29-2330-43aa-8d80-6ea85e755640",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Intent Detection",
        "height": 528,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        416
      ],
      "id": "ecb182d6-ae8e-447d-a31f-3beee5bdae61",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Conditions",
        "height": 336,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        400
      ],
      "id": "0623fa17-12c0-48b1-9fdf-ae995e2d6a4c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1024,
        1168
      ],
      "id": "c36c5aaf-3aa3-43f3-b022-30a4b48fc870",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        1392
      ],
      "id": "153ec099-21b2-4165-81c1-57dd9e309725",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TB2Z6h7fHkRtgIPK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://nazmiyalantiquerugs.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1088,
        96
      ],
      "id": "c5cba9cb-9924-46d4-a4b2-8208a529a20f",
      "name": "Nazmiyal Antique Rugs Blog"
    },
    {
      "parameters": {
        "url": "https://modernrugimporters.com/blogs/news.atom",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1088,
        288
      ],
      "id": "1de79f61-509d-4339-b8f3-d7850fe719e4",
      "name": "Modern Rug Importers Blog"
    },
    {
      "parameters": {
        "url": "https://www.homeaccentstoday.com/category/rugs/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1088,
        480
      ],
      "id": "6cb36976-036d-4a93-b2db-805f344e0d03",
      "name": "Home Accents Today – Rugs / Trendspotting"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        352
      ],
      "id": "46a31c2b-64e1-4792-a5c4-19086f7e559c",
      "name": "Merge – RSS Feeds."
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, link, pubDate, content, contentSnippet, isoDate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1600,
        384
      ],
      "id": "9614197d-9139-413f-94d3-51587b54b649",
      "name": "Split – RSS Fields"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nconst now = new Date();\nconst twoDaysAgo = new Date();\ntwoDaysAgo.setDate(now.getDate() - 7); // only include last 7 days\n\nfor (const item of $input.all()) {\n  const isoDate = new Date(item.json.isoDate);\n  if (isoDate >= twoDaysAgo && isoDate <= now) {\n    output.push(item);\n  }\n}\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        384
      ],
      "id": "1fe336bf-f3df-497f-942f-e487af33691b",
      "name": "Filter – Recent Items"
    },
    {
      "parameters": {
        "url": "https://rugshandmade.com/blog/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1088,
        656
      ],
      "id": "a6d1ec0e-48bd-4185-936c-8b7e1fc02be6",
      "name": "Rugs Handmade Blog"
    },
    {
      "parameters": {
        "url": "https://cse.google.com/cse?cx=e293cb46b192c4a27",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyD-ZIk1HTaHNAFCIaUfRJppu9jY1kLcDPc"
            },
            {
              "name": "cx",
              "value": "e293cb46b192c4a27"
            },
            {
              "name": "q",
              "value": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        848
      ],
      "id": "6ad354c7-b00f-4476-86d5-d3700dec464d",
      "name": "Google Search"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Find User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Find User Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Find User Intent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Find User Intent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Modern Rug Importers Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nazmiyal Antique Rugs Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Home Accents Today – Rugs / Trendspotting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rugs Handmade Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Modern Rug Importers Blog": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds.",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nazmiyal Antique Rugs Blog": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home Accents Today – Rugs / Trendspotting": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds.",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge – RSS Feeds.": {
      "main": [
        [
          {
            "node": "Split – RSS Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split – RSS Fields": {
      "main": [
        [
          {
            "node": "Filter – Recent Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rugs Handmade Blog": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds.",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ccb36c79-e91d-401b-a733-10dc7ace8e4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c14dc8b263848e25424e0072f0e1a72a34ae315cae8811e2bef5175f81f5209c"
  },
  "id": "1K9cEcoYuF1vXSSG",
  "tags": []
}